*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav{
    background-color: rgb(42, 167, 48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav.navigation{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.1rem;
}

.logo-sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem   ;
}