* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFFDF6;
}

nav {
    box-shadow: snow;
    background-color: #537D5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    color: #fff;
    text-decoration: none;
}

.navigation a {
    font-weight: bold;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.1rem;
    color: inherit;
    text-decoration: none;
}

.navigation button {
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: inherit;
}

.logo-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}